{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room: {{ room_name }}</title>
    <link rel="stylesheet" href="{% static 'css/private_chat.css' %}">
</head>
<!-- <h1>Chat Room: {{ room_name }}</h1> -->
<div id="chat-log"></div>
<input id="chat-message-input" type="text">
<button id="chat-message-submit">Send</button>

<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + '{{ room_name }}/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.sender + ': ' + data.message;
        document.querySelector('#chat-log').innerHTML += '<div>' + message + '</div>';
    };

    document.querySelector('#chat-message-submit').onclick = function() {
        const messageInput = document.querySelector('#chat-message-input');
        const message = messageInput.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender': '{{ request.user.username }}'
        }));
        messageInput.value = '';
    };
</script>
</html>